In [1]:
print("hello world")
print("hello world")

hello world
hello world

In [2]:
x=15;
y=20;

In [3]:
print(x+y)

35

In [4]:
# is used for comment

In [10]:
name="my name"
for i in

SyntaxError: invalid syntax (780010624.py, line 2)

In [15]:
nam=("kunal")
nam_list=list(nam)
nam_list

['k', 'u', 'n', 'a', 'l']

In [19]:
#another way
nam=("kunal")
nam_list=list(nam.lower())
nam_list
#upper letter
nam=("kunal")
nam_list=list(nam.upper())
nam_list

['K', 'U', 'N', 'A', 'L']

In [21]:
my_list=['a','b','c','d',]

In [22]:
set(my_list)

{'a', 'b', 'c', 'd'}

In [23]:
tuple(my_list)

('a', 'b', 'c', 'd')

In [24]:
my_list[3]

'd'

In [27]:
my_list[3]='d'

In [30]:
my_var="kunal"

In [32]:
my_var[4]

'l'

In [ ]:
#sequences lists, tuples, set, dictionary.....

In [39]:
my_list=[1,2,3,4,'ab','hello',3.5,5]

In [34]:
my_list[0:4]

[1, 2, 3, 4]

In [41]:
my_list[4:6]

['ab', 'hello']

In [42]:
my_list[-1]

5

In [43]:
for n in my_list:
    print(n)

1
2
3
4
ab
hello
3.5
5

In [44]:
print("my name is kunal")

my name is kunal

In [56]:
my_name="kunal krishan"
for n in my_name.lower():
    print(n)

k
u
n
a
l

k
r
i
s
h
a
n